@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.full-screen-video-container {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  grid-template: repeat(12, 1fr)/repeat(12, 1fr);
  justify-content: flex-start;
  align-items: center;
}

.full-screen-video-container video {
  z-index: -1;
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.audioPermission {
  display: grid;
  grid-column: 1/2;
}

.audioPermission .enableAudio {
  color: white;
  background-color: transparent;
  border-color: transparent;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  margin: 0;
}

.audioPermission .enableAudio:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.full-screen-video-content {
  grid-column: 3/-3;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: transparent;
}

.movie-name {
  grid-row: 8/9;
  font-size: 50px;
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: .10em;
  animation-name: YourName;
  animation-duration: 20s;
  animation-timing-function: step-end(100, end);
  animation-delay: 5s;
  animation-fill-mode: forwards;
  /*
    animation: name, duration, timing-function, delay, iteration-count, direction, fill-mode, play-state
    */
}

@media (max-height: 600px) {
  .movie-name {
    font-size: 6.63vh;
  }
}

@keyframes YourName {
  0% {
    color: white;
  }
  25% {
    color: white;
  }
  50% {
    color: white;
  }
  100% {
    color: white;
  }
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.director-name {
  grid-row: 9/10;
  font-size: 35px;
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: .10em;
  animation-name: MakotoShinkai;
  animation-duration: 20s;
  animation-timing-function: step-end(100, end);
  animation-delay: 13s;
  animation-fill-mode: forwards;
  /*
    animation: name, duration, timing-function, delay, iteration-count, direction, fill-mode, play-state
    */
}

@media (max-height: 600px) {
  .director-name {
    font-size: 4.60vh;
  }
}

@keyframes MakotoShinkai {
  0% {
    color: white;
  }
  25% {
    color: white;
  }
  50% {
    color: white;
  }
  100% {
    color: white;
  }
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.description {
  grid-column: 3/-3;
  grid-row: 10/-1;
  font-family: 'Lobster', cursive;
  text-align: center;
  color: transparent;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

@media (max-height: 600px) {
  .description {
    font-size: 3.95vh;
  }
}

.description p:nth-child(1) {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: .10em;
  animation-name: Description;
  animation-duration: 15s;
  animation-timing-function: step-end(100, end);
  animation-delay: 23s;
  animation-fill-mode: forwards;
  /*
    animation: name, duration, timing-function, delay, iteration-count, direction, fill-mode, play-state
    */
}

@keyframes Description {
  0% {
    color: white;
  }
  25% {
    color: white;
  }
  50% {
    color: white;
  }
  100% {
    color: white;
  }
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.description p:nth-child(2) {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: .10em;
  animation-name: Description;
  animation-duration: 15s;
  animation-timing-function: step-end(100, end);
  animation-delay: 33s;
  animation-fill-mode: forwards;
  /*
    animation: name, duration, timing-function, delay, iteration-count, direction, fill-mode, play-state
    */
}

@keyframes Description {
  0% {
    color: white;
  }
  25% {
    color: white;
  }
  50% {
    color: white;
  }
  100% {
    color: white;
  }
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.description p:nth-child(3) {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: .10em;
  animation-name: Description;
  animation-duration: 15s;
  animation-timing-function: step-end(100, end);
  animation-delay: 41s;
  animation-fill-mode: forwards;
  /*
    animation: name, duration, timing-function, delay, iteration-count, direction, fill-mode, play-state
    */
}

@keyframes Description {
  0% {
    color: white;
  }
  25% {
    color: white;
  }
  50% {
    color: white;
  }
  100% {
    color: white;
  }
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.description p:nth-child(4) {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: .10em;
  animation-name: Description;
  animation-duration: 15s;
  animation-timing-function: step-end(100, end);
  animation-delay: 51s;
  animation-fill-mode: forwards;
  /*
    animation: name, duration, timing-function, delay, iteration-count, direction, fill-mode, play-state
    */
}

@keyframes Description {
  0% {
    color: white;
  }
  25% {
    color: white;
  }
  50% {
    color: white;
  }
  100% {
    color: white;
  }
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.description a {
  overflow: hidden;
  margin: 0 auto;
  white-space: nowrap;
  letter-spacing: .10em;
  animation-name: Description;
  animation-duration: 1s;
  animation-timing-function: step-end(100, end);
  animation-delay: 52s;
  animation-fill-mode: forwards;
  /*
    animation: name, duration, timing-function, delay, iteration-count, direction, fill-mode, play-state
    */
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes Description {
  0% {
    color: white;
  }
  25% {
    color: white;
  }
  50% {
    color: white;
  }
  100% {
    color: white;
  }
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.description a:hover {
  font-size: 50px;
}

.footer {
  background-color: transparent;
  display: grid;
  grid-row: 12/-1;
}

.footer img {
  width: 35px;
}

.footer .github {
  justify-self: center;
  grid-column: 1/2;
}

.footer .linkedin {
  justify-self: center;
  align-self: end;
  grid-column: 2/3;
}

html, body {
  margin: 0;
}
