@import "mixins";


.full-screen-video-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display: grid;
    grid-template: repeat(12, 1fr)/repeat(12, 1fr) ;
    
    justify-content: flex-start;
    align-items: center;
}

.full-screen-video-container video{
    z-index: -1;
    
    position: absolute;
    
    width: auto;
    height: auto;

    min-width: 100%;
    min-height: 100%;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.audioPermission
{
    display: grid;

    .enableAudio{
        grid-column: 1/-1;
        color: white;
        background-color: transparent;
        border-color: transparent;
        font-family: 'Lobster', cursive;
        font-size: 20px;
        margin: 0;
        
        &:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

.full-screen-video-content {
    grid-column: 3/-3;
    font-family: 'Lobster', cursive;
    text-align: center;
    color: transparent;
}

.movie-name{
    grid-row: 8/9;
    font-size: 50px;
 
    @include text-animation(YourName, 20s, step-end(100, end), 5s);
}

.director-name{
    grid-row: 9/10;
    font-size: 35px;

    @include text-animation(MakotoShinkai, 20s, step-end(100, end), 13s);
}
    
.description{
    grid-column:  3/-3;
    grid-row: 10/-1;
    font-family: 'Lobster', cursive;
    text-align: center;
    color: transparent;
    font-size: 30px;
    
    justify-content: center;
    align-items: center;
    

    p{
        &:nth-child(1){  
            @include text-animation(Description, 15s, step-end(100, end), 23s);
        }

        &:nth-child(2){  
            @include text-animation(Description, 15s, step-end(100, end), 33s);
        }

        &:nth-child(3){  
            @include text-animation(Description, 15s, step-end(100, end), 41s);
        }

        &:nth-child(4){  
            @include text-animation(Description, 15s, step-end(100, end), 51s);
        }
    }
    
    a{
        @include text-animation(Description, 1s, step-end(100, end), 52s);
        color: transparent;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        
            &:hover {
                font-size: 50px;
            }
    }
}
